<h2 mat-dialog-title>
  {{ mode === "create" ? "Crear categoría" : "Editar categoría" }}
</h2>

<mat-dialog-content>
  <form [formGroup]="form" class="category-form">
    <mat-form-field appearance="outline" class="full">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="form.controls['name'].hasError('required')"
        >Requerido</mat-error
      >
    </mat-form-field>

    <div class="row">
      <!-- <div class="col">
        <mat-form-field appearance="outline" class="full">
          <mat-label>Color</mat-label>
          <input matInput formControlName="color" type="color" />
        </mat-form-field>
      </div> -->

      <div class="col">
        <label>Icono</label>
        <app-icon-picker formControlName="icon"></app-icon-picker>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>
