<div *ngIf="restaurant" class="restaurant-menu-container">
  <mat-card class="menu-card">
    <div
      class="section-header d-flex justify-content-between align-items-center mb-3"
    >
      <h2 class="section-title">Productos</h2>
      <button mat-stroked-button color="primary" (click)="createProduct()">
        <mat-icon class="me-1">add</mat-icon>
        Agregar Producto
      </button>
    </div>

    <app-product-list
      [products]="dataSource.data"
      [restaurantId]="restaurant.restaurantId"
      (edit)="editProduct($event)"
      (remove)="deleteProduct($event)"
    ></app-product-list>

    <button mat-raised-button color="accent" (click)="goToMenu()">
      <mat-icon class="nav-icon">restaurant_menu</mat-icon>
      Ver Menú Digital
    </button>
  </mat-card>
</div>
