<div *ngIf="restaurant" class="restaurant-menu-container">
  <app-section-header
    icon="restaurant_menu"
    title="Productos del Restaurante"
    subtitle="Administra el catálogo de productos, edita precios y gestiona la oferta."
    filterPlaceholder="Buscar Productos: "
    (search)="onSearch($event)"
  >
    <app-add-button
      label="Agregar Producto"
      (onClick)="createProduct()"
      icon="local_dining"
    />
  </app-section-header>

  <app-product-list
    #productList
    [products]="dataSource.data"
    [restaurantId]="restaurant.restaurantId"
    (edit)="editProduct($event)"
    (remove)="deleteProduct($event)"
  />
</div>
