<div mat-dialog-content class="medidas-dialog">
  <button class="close-button" mat-icon-button (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>

  <div class="text-center form-wrapper">
    <img
      class="logo mb-3"
      src="https://avellaneda.ibeltran.com.ar/img/logo/logo.png"
      alt="Logo"
    />
    <h2 class="title">Recuperar contraseña</h2>
    <p class="subtitle">Te vamos a enviar un email para restablecerla</p>

    <form [formGroup]="resetForm" (ngSubmit)="sendReset()">
      <mat-form-field appearance="fill" class="w100">
        <mat-label>Correo Electrónico</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="email@example.com"
        />
        <mat-error *ngIf="resetForm.controls['email'].hasError('required')"
          >El campo es requerido</mat-error
        >
        <mat-error *ngIf="resetForm.controls['email'].hasError('pattern')"
          >Mail no válido</mat-error
        >
      </mat-form-field>

      <button
        class="btn-primary-main"
        type="submit"
        [disabled]="resetForm.invalid || loading"
      >
        {{ loading ? "Enviando..." : "Enviar email" }}
      </button>

      <button
        mat-button
        color="warn"
        class="btn-secondary"
        type="button"
        (click)="closeDialog()"
      >
        Cancelar
      </button>

    </form>
  </div>
</div>
