/* === Contenedor del di치logo === */
.medidas-dialog {
  max-height: 100vh;
  max-width: 420px;
  width: 100%;
  padding: 2rem;
  border-radius: 20px;
  position: relative;
  overflow-y: auto;
  animation: fadeIn 0.4s ease;
}

/* === GLASSMORPHISM === */
.glass {
  background: rgba(255, 255, 255, 0.15) !important;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(18px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 600px) {
  .medidas-dialog {
    width: 100%;
    padding: 1.5rem;
  }
}
.img-logo img {
  height: 6rem;
}

/* === Campos Material === */
mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

/* === Bot칩n principal === */
.btn-primary-main {
  display: flex;
  justify-content: center;
}

/* === Bot칩n secundario === */
.btn-secondary {
  width: 100%;
  margin-top: 10px;
  color: var(--text-color);
}
/* Cerrar */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f5eaea;
  background: rgba(0, 0, 0, 0.37);
  border-radius: 50%;
}

/* Bot칩n Volver */
.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.37);
  border-radius: 50%;
}
