/* === Contenedor del diálogo === */
.medidas-dialog {
  max-height: 100vh;
  max-width: 420px;
  width: 100%;
  overflow-y: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  position: relative;
}

@media (max-width: 600px) {
  .medidas-dialog {
    width: 100%;
    padding: 1.5rem;
  }
}

/* === Campos Material === */
mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

/* === Botón principal === */
.btn-primary-main {
  background: #4f46e5;
  color: #fff !important;
  border-radius: 12px;
  padding: 0.85rem;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  transition: 0.3s ease;
  width: 100%;
  margin-top: 5px;
}

.btn-primary-main:hover {
  background: #4338ca;
}

/* === Botón secundario === */
.btn-secondary {
  width: 100%;
  margin-top: 10px;
}


/* === Cerrar === */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  color: #6b7280;
  font-size: 1.2rem;
}

.close-button:hover {
  color: #111827;
}
