<nav class="navbar navbar-expand-lg app-navbar">
  <div class="container-fluid">
    <!-- LOGO -->
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="assets/img/small_logo.png"  alt="Logo" /> Palex
    </a>

    <!-- BOTÓN HAMBURGUESA -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAV CONTENT -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- LINKS IZQUIERDA -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>

        <!-- LOGUEADO -->
        <ng-container *ngIf="isLoggedIn$ | async; else notLoggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="users/profile">Mi Perfil</a>
          </li>
        </ng-container>

        <!-- NO LOGUEADO -->
        <ng-template #notLoggedIn>
          <li class="nav-item">
            <a class="nav-link" (click)="loginDialog()">Acceder</a>
          </li>
        </ng-template>
      </ul>

      <!-- ICONO MODO OSCURO -->
      <button
        mat-icon-button
        (click)="toggleTheme()"
        [title]="isDarkMode ? 'Modo Claro' : 'Modo Oscuro'"
      >
        <mat-icon>{{ isDarkMode ? "light_mode" : "dark_mode" }}</mat-icon>
      </button>

      <!-- ACCESOS -->
      <section *ngIf="(isLoggedIn$ | async) === false">
        <button mat-flat-button color="primary" (click)="loginDialog()">
          Acceder
        </button>
      </section>

      <section *ngIf="(isLoggedIn$ | async) === true">
        <button mat-flat-button color="primary" (click)="logOut()">
          Cerrar Sesión
        </button>
      </section>
    </div>
  </div>
</nav>
