.qr-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 20px;
}

/* Contenedor del QR */
.qr-box {
  width: 320px;
  height: 320px;
  padding: 10px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Canvas interno */
.qr-box canvas {
  width: 300px !important;
  height: 300px !important;
  background: transparent !important;
  display: block;
}

/* Botones */
.actions {
  display: flex;
  gap: 16px;
}

button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 10px;

  min-width: 140px;
  transition: 0.25s ease;
}

button mat-icon {
  font-size: 20px;
}

button:hover {
  filter: brightness(1.1);
}
