<div class="menu-container">

  <!-- HEADER -->
  <div class="header-menu">
    <div class="title-container">
      <h1 class="title">🍽️ Nuestra Carta</h1>
      <p class="subtitle">{{ restaurant?.name || "Bienvenido a nuestro menú" }}</p>
      <p class="subtitle">{{ restaurant?.description || "Mira nuestras opciones" }}</p>
    </div>
  </div>

  <!-- SWIPER DE CATEGORÍAS -->
<!-- <swiper-container
  class="category-swiper"
  slides-per-view="auto"
  space-between="12"
  navigation="true"
  scrollbar="true"
  style="padding: 10px 0;"
>
  <swiper-slide *ngFor="let category of allCategories; let i = index" class="category-slide">
    <div
      class="category-tab"
      [class.active]="selectedCategoryIndex === i"
      (click)="selectCategory(i)"
    >
      {{ category.label }}
    </div>
  </swiper-slide>
</swiper-container>
 -->
<swiper-container
  class="category-swiper"
    navigation="true"

  slides-per-view="auto"
  space-between="12"
  style="padding: 10px 0;"
>
  <swiper-slide *ngFor="let category of allCategories; let i = index" class="category-slide">
    <div
      class="category-tab"
      [class.active]="selectedCategoryIndex === i"
      (click)="selectCategory(i)"
    >
      {{ category.label }}
    </div>
  </swiper-slide>
</swiper-container>


  <!-- GRID DE PRODUCTOS -->
  <div class="grid" *ngIf="currentProducts$ | async as currentProducts; else emptyCategory">
    <mat-card class="menu-card" *ngFor="let item of currentProducts" [class.offer]="item.isOffer">
      <div class="card-content-wrapper">
        <div class="image-section">
          <img
            mat-card-image
            [src]="item.imageUrl || 'assets/img/not-found.png'"
            alt="{{ item.name }}"
            (click)="onOpenImage(item.imageUrl)"
            (error)="onImageError($event)"
          />
        </div>

        <div class="text-section">
          <h2>{{ item.name }}</h2>
          <p>{{ item.description }}</p>

          <div class="price-wrapper">
            <ng-container *ngIf="item.isOffer; else priceNormal">
              <span class="old-price">{{ item.price | currency }}</span>
              <span class="offer-price">{{ item.offerPrice | currency }}</span>
            </ng-container>

            <ng-template #priceNormal>
              <span class="price-normal">{{ item.price | currency }}</span>
            </ng-template>
          </div>

          <div class="button-wrapper">
            <button mat-raised-button color="primary" (click)="onAddProduct(item)">
              Añadir 🛒
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <ng-template #emptyCategory>
    <div class="empty-message">No hay productos disponibles.</div>
  </ng-template>
</div>
