.tables-card-container {
  padding: 5px;
  border-radius: 20px;
  background: var(--card-bg);
  color: var(--text-color);
}

/* GRID DE MESAS */
.cards-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.card-footer {
  margin-top: auto; // 💡 empuja el botón hacia abajo
}

/* CARD DE MESA */
.table-card {
  display: flex;
  flex-direction: column;
  height: 100%; // clave

  padding: 1rem;
  border-radius: 16px;
  background: var(--card-bg);
  color: var(--text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08);
  border: 1px solid var(--border-color);
  transition: background 0.3s ease, box-shadow 0.2s ease, transform 0.15s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 56px; // o 60px

    mat-card-title {
      font-weight: 600;
      font-size: 1.15rem;
      color: var(--text-color);
    }

    .order-status {
      text-transform: uppercase;
      font-weight: 600;
      color: #ffffff;
      padding: 4px 8px;
      border-radius: 12px;
      font-size: 0.85rem;
      display: inline-block;

      max-width: 120px;
      text-align: center;
      word-break: break-word;
    }
  }

  .card-info {
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;

    span {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 0.9rem;

      mat-icon {
        font-size: 20px;
        opacity: 0.65;
      }
    }
  }

  .card-icons {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;

    button[mat-icon-button] {
      color: var(--text-color);
      opacity: 0.65;
      transition: opacity 0.2s ease, color 0.25s ease;

      &:hover {
        opacity: 1;
        color: var(--primary-color);
      }
    }
  }

  .full-width-btn {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    text-transform: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.45rem;
  }
}

/* DARK THEME */
.dark-theme .table-card {
  background: var(--card-bg);
  border-color: var(--border-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6), 0px 1px 2px rgba(0, 0, 0, 0.45);

  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
  }

  .card-icons button {
    color: #eee;
  }
}
