.tables-container {
  padding: 5px;
  border-radius: 20px;
  background: var(--card-bg);
  color: var(--text-color);

  .tables-header {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    position: sticky;
    top: 0;
    background: inherit;
    z-index: 5;
  }

  .create-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 12px;
    padding: 8px 20px;
    transition: transform 0.25s, box-shadow 0.25s;
    background: var(--primary-gradient);
    color: var(--btn-text-color, #fff) !important;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px var(--primary-shadow);
    }
  }

  .pulse {
    animation: pulseAnim 1.6s infinite;
  }

  @keyframes pulseAnim {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
  }

  .table-wrapper {
    overflow-x: auto;

    table {
      width: 100%;
      border-spacing: 0;
      border-radius: 12px;
      min-width: 500px;

      th.mat-header-cell {
        background: var(--table-header-bg);
        color: var(--text-color);
        font-weight: 600;
      }

      td.mat-cell {
        padding: 12px 8px;
      }

      .actions-cell button {
        margin-right: 6px;
        position: relative;
      }
    }
  }

  .status-pill {
    padding: 4px 12px;
    border-radius: 12px;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 0.9rem;

    &.available {
      background: var(--status-available-bg);
      color: var(--status-available-color);
    }
    &.occupied {
      background: var(--status-occupied-bg);
      color: var(--status-occupied-color);
    }
    &.reserved {
      background: var(--status-reserved-bg);
      color: var(--status-reserved-color);
    }
    &.active {
      background: var(--status-active-bg);
      color: var(--status-active-color);
    }
  }

  .active-order-row {
    background-color: #87a6bd; // color claro por defecto
    transition: background 0.3s;
  }

  &.dark-theme {
    .active-order-row {
      background:  #444647; // color claro por defecto
      color: var(--text-color);
    }
  }

  .active-order-icon {
    font-size: 0.5rem;
    color: var(--status-active-color);
    position: absolute;
    top: 4px;
    right: 4px;
    animation: pulseIcon 1.2s infinite;
  }

  @keyframes pulseIcon {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
  }

  .empty-state {
    text-align: center;
    color: var(--text-secondary-color);
    font-weight: 500;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .tables-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    .create-btn {
      width: 100%;
      justify-content: center;
    }
  }
}
