<!-- NAVBAR SUPERIOR -->
<app-navbar [sidenav]="sidenav" [isMobile]="isMobile"> </app-navbar>

<!-- CONTENEDOR PRINCIPAL DE SIDENAV + CONTENIDO -->
<mat-sidenav-container class="main-container">
  <!-- MENÚ LATERAL en mobile es 'over' (flotante), en desktop 'side' (fijo)
       Abierto por defecto en desktop, cerrado en mobile -->

  <mat-sidenav
    #sidenav
    position="start"
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
    class="restaurant-sidenav"
  >
    <!-- Componente hijo del menú, recibe:
         - la referencia al sidenav (para cerrarlo)
         - si es mobile (para decidir cuándo cerrarlo) -->
    <app-restaurant-nav [sidenav]="sidenav" [isMobile]="isMobile">
    </app-restaurant-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
