<mat-sidenav-container class="main-container">

  <mat-sidenav
    #sidenav
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
  >
    <app-restaurant-nav></app-restaurant-nav>
  </mat-sidenav>

  <mat-sidenav-content>

    <!-- Botón hamburguesa cuando es mobile -->
    <button
      *ngIf="isMobile"
      mat-icon-button
      (click)="sidenav.toggle()"
      class="mobile-menu-button"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <!-- Aquí va TODO el contenido -->
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
