<h2>Pedidos:</h2>

<button (click)="onCreateOrGetOrder()">
  Crear o recuperar pedido activo
</button>

<div *ngIf="currentOrderId">
  <p>Pedido activo: {{ currentOrderId }}</p>

  <h3>Agregar Item</h3>

  <label>Producto ID:</label>
  <input [(ngModel)]="selectedItem.productId">

  <label>Nombre:</label>
  <input [(ngModel)]="selectedItem.name">

  <label>Precio:</label>
  <input type="number" [(ngModel)]="selectedItem.price">

  <label>Cantidad:</label>
  <input type="number" [(ngModel)]="selectedItem.quantity">

  <button (click)="onAddItem()">Agregar Item</button>
</div>
