<h2>Pedidos:</h2>

<button (click)="onCreateOrGetOrder()">
  Crear pedido activo
</button>

<div *ngIf="currentOrderId">
  <p>Pedido activo: {{ currentOrderId }}</p>

  <h3>Agregar Item</h3>

  <label>Producto ID:</label>
  <input [(ngModel)]="selectedItem.productId" />

  <label>Nombre:</label>
  <input [(ngModel)]="selectedItem.name" />

  <label>Precio:</label>
  <input type="number" [(ngModel)]="selectedItem.price" />

  <label>Cantidad:</label>
  <input type="number" [(ngModel)]="selectedItem.qty" />

  <button (click)="onAddItem()">Agregar Item</button>

  <h3>Items actuales</h3>
  <ul>
    <li *ngFor="let i of items; let idx = index">
      {{ idx + 1 }} - {{ i.name }} x{{ i.qty }} → {{ i.price * i.qty | currency }}
    </li>
  </ul>

  <p><strong>Total:</strong> {{ getTotal() | currency }}</p>
</div>
