<div class="cart-header">
  <h2>Tu Carrito</h2>
</div>

<div class="cart-content">
  <ng-container *ngIf="cartItems.length; else emptyCart">
    <mat-list-item *ngFor="let item of cartItems" class="cart-item-card">
      <div class="cart-item-wrapper">
        <button mat-icon-button color="warn" (click)="remove(item)">
          <mat-icon>close</mat-icon>
        </button>

        <div class="item-info">
          <h4>{{ item.product.name }}</h4>
          <span class="price">
            {{ item.product.price | currency }}
          </span>

          <div class="quantity-controls">
            <button mat-mini-fab color="primary" (click)="decrease(item)">
              -
            </button>
            <span>{{ item.quantity }}</span>
            <button mat-mini-fab color="primary" (click)="increase(item)">
              +
            </button>
          </div>
        </div>
      </div>
    </mat-list-item>
  </ng-container>

  <ng-template #emptyCart>
    <div class="empty-message">Tu carrito está vacío 🛒</div>
  </ng-template>
</div>

<div class="cart-footer" *ngIf="cartItems.length">
  <div class="total">
    <span>Total:</span>
    <span>{{ total | currency }}</span>
    <button mat-raised-button color="primary">Ir a pagar</button>
  </div>
</div>
