.roles-card {
  padding: 1.5rem;
  border-radius: 16px;
  background: var(--card-bg);
  color: var(--text-color);

  .header {
    margin-bottom: 1rem;

    h2 {
      margin: 0;
      font-weight: 600;
    }

    .subtitle {
      margin: 0.3rem 0 0;
      font-size: 0.9rem;
    }
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    min-width: 650px;

    th {
      font-weight: 600;
      justify-content: center;
      text-align: center;
    }

    td {
      justify-content: center;
      text-align: center;
      color: var(--text-color);
    }

    .permission-name {
      font-weight: 500;
    }

    .info-icon {
      font-size: 18px;
      margin-left: 4px;
      cursor: pointer;
      color: var(--primary-color);
    }

    mat-icon {
      color: var(--success-color, #4caf50); // verde para check
    }
  }
}
