.roles-card {
  padding: 1.5rem;
  border-radius: 16px;
  background: #ffffff;
  .header {
    margin-bottom: 1rem;

    h2 {
      margin: 0;
      font-weight: 600;
    }

    .subtitle {
      margin: 0.3rem 0 0;
      color: #666;
      font-size: 0.9rem;
    }
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    width: 100%;
    min-width: 650px;

    th {
      background: #f5f5f5;
      font-weight: 600;
      justify-content: center;
      text-align: center;
    }

    td {
      justify-content: center;
      text-align: center;
    }

    .permission-name {
      font-weight: 500;
    }

    .info-icon {
      font-size: 18px;
      margin-left: 4px;
      cursor: pointer;
      color: #1e0e75;
    }

    mat-icon {
      color: #4caf50; // verde para check
    }
  }
}
