/* Botón de cierre */
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  color: #555;
  z-index: 9999; //asegurar que esté siempre arriba
  transition: 0.2s ease;

  &:hover {
    color: #000;
    transform: scale(1.1);
  }
}

/* Estilo normal (pantallas grandes) */
::ng-deep mat-nav-list a {
  font-size: 18px;
  padding: 12px 20px;
}

::ng-deep .nav-icon {
  font-size: 24px;
  margin-right: 15px;
}

/* Pantallas pequeñas */
@media (max-width: 600px) {
  ::ng-deep mat-nav-list a {
    font-size: 14px;
    padding: 8px 10px;
  }

  ::ng-deep .nav-icon {
    font-size: 20px;
    margin-right: 8px;
  }
}
