<div class="cart-header">
  <h2>Tu Carrito</h2>

  <button
    *ngIf="cartItems.length"
    mat-icon-button
    color="warn"
    class="clear-cart-btn"
    (click)="clearCart()"
    aria-label="Vaciar carrito"
  >
    <mat-icon>delete_forever</mat-icon>
  </button>
</div>

<div class="cart-content">
  <ng-container *ngIf="cartItems.length; else emptyCart">
    <app-cart-item
      *ngFor="let item of cartItems"
      [item]="item"
      (increase)="increase($event)"
      (decrease)="decrease($event)"
      (remove)="remove($event)"
    />
  </ng-container>

  <ng-template #emptyCart>
    <div class="empty-message">Tu carrito está vacío 🛒</div>
  </ng-template>
</div>

<div class="cart-footer" *ngIf="cartItems.length">
  <div class="total">
    <span>Total:</span>
    <span>{{ total | currency }}</span>

    <button mat-raised-button color="primary" (click)="onPrimaryAction()">
      {{ actionLabel }}
    </button>
  </div>
</div>
