<div *ngIf="restaurant" class="restaurant-container">
  <mat-card class="restaurant-card">
    <!-- HEADER -->
    <div class="restaurant-header">
      <div class="restaurant-info">
        <div class="restaurant-logo">
          <img
            [src]="restaurant.imageLogo || 'assets/img/not-found.png'"
            alt="Logo del restaurante"
          />
        </div>

        <div class="restaurant-texts">
          <h1 class="restaurant-title">{{ restaurant.name }}</h1>
          <p class="restaurant-subtitle">
            {{ restaurant.address }} {{ restaurant.addressNumber }}
          </p>
          <p class="restaurant-phone">📞 {{ restaurant.phone }}</p>
        </div>
      </div>

      <!-- Botón editar -->
      <app-add-button
        class="btn-primary-main"
        [label]="'Editar restaurante'"
        [icon]="'edit'"
        (onClick)="editRestaurant()"
      ></app-add-button>
    </div>

    <!-- CONTENT -->
    <mat-card-content class="restaurant-content">
      <div class="info-row">
        <span class="label">Descripción</span>
        <span class="value">
          {{ restaurant.description || "Sin descripción" }}
        </span>
      </div>

      <div class="info-row">
        <span class="label">Estado</span>
        <span
          class="status-chip"
          [class.active]="restaurant.enabled"
          [class.inactive]="!restaurant.enabled"
        >
          {{ restaurant.enabled ? "Activo" : "Inactivo" }}
        </span>
      </div>

      <div class="menu-config">
        <span class="label">Diseño de menú</span>

        <div class="menu-buttons">
          <button
            mat-button
            class="menu-btn"
            [class.selected]="restaurant.menuType === 'palex'"
            (click)="changeMenuType('palex')"
          >
            Palex
          </button>

          <button
            mat-button
            class="menu-btn"
            [class.selected]="restaurant.menuType === 'traditional'"
            (click)="changeMenuType('traditional')"
          >
            Tradicional
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!restaurant" class="loading-container">
  <mat-spinner></mat-spinner>
</div>
