<div class="order-footer">

  <!-- Enviar pedido -->
  <app-add-button
    *ngIf="canCreate"
    class="btn-main"
    label="Enviar pedido"
    icon="send"
    (onClick)="create.emit()"
    [disabled]="loading"
  ></app-add-button>

  <!-- Marcar como entregado -->
  <app-add-button
    *ngIf="canDeliver"
    class="btn-main"
    label="Marcar como entregado"
    icon="local_shipping"
    (onClick)="markDelivered.emit()"
    [disabled]="loading"
  ></app-add-button>

  <!-- Cerrar pedido -->
  <app-add-button
    *ngIf="canClose"
    class="btn-main"
    label="Cerrar pedido"
    icon="check_circle"
    (onClick)="closeOrder.emit()"
    [isSecondary]="true"
    [disabled]="loading"
  ></app-add-button>

</div>
