/* ============================================
   FOOTER
============================================ */
.order-footer {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.7rem;
  justify-content: center;
  margin-top: 1rem;

  .main-btn {
    flex: 1;
  }

  button {
    min-width: 130px;
    font-size: 0.95rem;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    font-weight: 600;

    transition: 0.25s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.22);
    }
  }
  .close-footer-btn {
    width: 100%;
    opacity: 0.7;
  }
}
