    <!-- <h2>Carrito de prueba</h2>
    <button (click)="addRandomProduct()">Añadir producto aleatorio</button>

    <div *ngIf="cartService.cart$ | async as cart">
      <div *ngFor="let item of cart.items">
        {{ item.name }} - {{ item.quantity }} x {{ item.price }} 
        <button (click)="increase(item)">+</button>
        <button (click)="decrease(item)">-</button>
        <button (click)="remove(item)">x</button>
      </div>
      <p>Total: {{ cartService.total$ | async }}</p>
      <button (click)="clear()">Vaciar carrito</button>
    </div> -->
