<mat-sidenav-container class="sidenav-container">
  <!-- Carrito -->
  <mat-sidenav #cartSidenav mode="over" position="end" class="cart-sidenav">
    <app-cart></app-cart>
  </mat-sidenav>

  <mat-sidenav-content>
    <section class="menu-flyer" *ngIf="restaurant$ | async as restaurant">
      <!-- Botón Carrito -->
      <button
        mat-raised-button
        color="primary"
        (click)="cartSidenav.toggle()"
        class="cart-button"
      >
        🛒 Carrito
        <span *ngIf="cartQuantity$ | async as qty">{{ qty }}</span>
      </button>

      <!-- Selector del menú + Menú final -->
      <app-menu-selector
        [restaurant]="restaurant"
        [categories]="categories"
        [offerProducts$]="offerProducts$"
        [menuType]="menuType"
        (addProduct)="addProductToCart($event)"
        (openImage)="openImageModal($event)"
      ></app-menu-selector>

      <!-- Modal de imagen -->
      <div
        class="image-modal"
        *ngIf="selectedImage"
        (click)="closeImageModal()"
      >
        <img [src]="selectedImage" alt="Imagen ampliada" />
      </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
