<div class="order-dialog">
  <!-- HEADER -->
  <app-order-dialog-header
    [tableNumbers]="tableNumbers"
    [status]="state.status"
    (addItem)="addItemDialog()"
    (updateOrder)="updateOrder()"
    (cancelOrder)="cancelOrder()"
    (close)="close()"
  ></app-order-dialog-header>

  <!-- ITEMS -->
<app-order-items-table
  [items]="state.items"
  (remove)="removeItem($event)"
  (quantityChange)="dataSource.data = state.items"
  (addItems)="addItemDialog()"
></app-order-items-table>

  <!-- TOTAL -->
  <app-order-total [total]="facade.getTotal()"></app-order-total>

  <!-- NOTES -->
  <app-order-notes
    [(notes)]="state.notes"
    [loading]="state.loading"
  ></app-order-notes>

  <!-- FOOTER -->
  <app-order-dialog-footer
    [status]="state.status"
    [loading]="state.loading"
    (create)="createOrder()"
    (markDelivered)="facade.markAsDelivered()"
    (closeOrder)="closeOrder()"
  ></app-order-dialog-footer>
</div>
