<header class="section-header" [class.sticky-header]="sticky">
  <div class="section-info">
    <div class="section-icon">
      <mat-icon>{{ icon }}</mat-icon>
    </div>

    <div class="section-texts">
      <h2 class="section-title">{{ title }}</h2>
      <p class="section-subtitle" *ngIf="subtitle">{{ subtitle }}</p>
    </div>
  </div>

  <app-search-box
    *ngIf="filterPlaceholder"
    [placeholder]="filterPlaceholder"
    (search)="search.emit($event)"
  ></app-search-box>

  <div class="actions-container">
    <ng-content></ng-content>
  </div>
</header>
