.kitchen-container {
  // background: #f4f6f8;
  padding: 1rem;
}

.kitchen-mode {
  font-size: 1.05rem;
}

.order-card {
  border-radius: 12px;
  border-left: 6px solid transparent;
}

/* 🔥 Estados */
.order-card.new-order {
  border-left-color: #4caf50;
  animation: pulseNew 1.5s ease-out 2;
}

.order-card.updated-order {
  border-left-color: #ff9800;
  animation: pulseUpdated 1.5s ease-out 2;
}

@keyframes pulseNew {
  0% {
    box-shadow: 0 0 0 0 rgba(76, 175, 80, 0.6);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(76, 175, 80, 0);
  }
}

@keyframes pulseUpdated {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 152, 0, 0.6);
  }
  70% {
    box-shadow: 0 0 0 12px rgba(255, 152, 0, 0);
  }
}

/* HEADER */
mat-card-header {
  display: flex;
  justify-content: baseline; /* Esto empuja el badge al extremo derecho */
  align-items: center;
  padding: 0.75rem 1rem; /* Ajusta padding si quieres más espacio */
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* separa el icono de la mesa */
}

.status-badge {
  padding: 0.25rem 0.75rem;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  /* para hacer un poco de sombra y que resalte */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  &.new {
    background: #4caf50;
  }
  &.updated {
    background: #332e27;
  }
}

/* BADGES */
.status-badge {
  padding: 4px 2px;
  border-radius: 12px;
  font-size: 0.75rem;
  color: white;

  &.new {
    background: #4caf50;
  }
  &.updated {
    background: #ff9800;
  }
}

/* INFO */
.info-row {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

/* ESTACIONES */
.items {
  list-style: none;
  padding-left: 0;

  li {
    display: flex;
    gap: 0.5rem;
    padding: 2px 0;
  }
}

/* ACTIONS */
.actions {
  display: flex;
  gap: 0.5rem;

  button {
    flex: 1;
    min-height: 48px;
    font-weight: 600;
  }
}
.no-orders-message {
  color: var(--text-color);
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
}
