<div class="order-dialog-header">
  <div class="dialog-title-group">
    <h2 class="title-with-chips">
      <span class="pedido-label">Pedido:</span>
      <span class="table-chip">{{ tableLabel }}</span>
    </h2>
    <ng-template #noTables>
      <span class="no-tables">---</span>
    </ng-template>

    <span
      *ngIf="statusLabel"
      class="order-status"
      [ngClass]="statusLabel | lowercase"
    >
      {{ statusLabel }}
    </span>
  </div>

  <div class="dialog-actions">
    <button
      mat-flat-button
      color="primary"
      (click)="addItem.emit()"
      class="action-button"
    >
      <mat-icon>add</mat-icon> Agregar
    </button>

    <button mat-icon-button (click)="close.emit()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
