<div class="order-dialog-header">
  <!-- Menú -->
  <button
    *ngIf="showMenu"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Más acciones"
    class="menu-button"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="updateOrder.emit()" *ngIf="canUpdate">
      <mat-icon>edit</mat-icon>
      <span>Actualizar Pedido</span>
    </button>

    <button mat-menu-item (click)="cancelOrder.emit()" *ngIf="canCancel">
      <mat-icon>cancel</mat-icon>
      <span>Cancelar Pedido</span>
    </button>
  </mat-menu>

  <!-- Título -->
  <div class="dialog-title-group">
    <h2 class="title-with-chips">
      <span class="pedido-label">
        {{
          tableNumbers.length > 1 ? "Pedido compartido:" : "Pedido realizado:"
        }}
      </span>

      <span class="table-chip">
        <mat-icon inline class="tables-icon">{{ tableIcon }}</mat-icon>
        {{ tableLabel }}
      </span>
    </h2>
  </div>

  <!-- Acción principal -->
  <div class="dialog-actions">
    <span *ngIf="statusLabel" class="order-status" [ngClass]="status">
      {{ statusLabel }}
    </span>

    <!-- Botón Agregar productos -->
    <app-add-button
      label="Agregar productos"
      icon="add"
      (onClick)="addItem.emit()"
    ></app-add-button>
  </div>

  <!-- Cerrar -->
  <button
    mat-icon-button
    class="close-button"
    (click)="close.emit()"
    aria-label="Cerrar"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
