.menu-dialog-content {
  padding: 20px;
  background-color: #fafafa;
  font-family: "Roboto", sans-serif;

  .menu-dialog-header {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    position: relative; /* Esto permite que el botón de cierre esté posicionado en relación al contenedor */

    .menu-title {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      display: flex;
      justify-content: flex-start; /* El texto estará a la izquierda */
      align-items: center;
      width: 100%; /* Asegura que ocupe el ancho completo */
    }

    .close-button {
      position: absolute; /* El botón de cierre se posiciona respecto al contenedor del encabezado */
      top: 10px; /* Ajusta la distancia desde el borde superior */
      right: 10px; /* Ajusta la distancia desde el borde derecho */
      background: transparent;
      border: none;
      color: white;
      cursor: pointer;
      &:hover {
        color: #faf5f5;
      }
    }
  }

  .filters-row {
    padding-top: 10px;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
  }

  .product-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    }

    mat-card-image {
      width: 100%;
      height: 200px; /* Altura fija para evitar que se estire */
      object-fit: cover; /* Mantiene la proporción de la imagen */
      max-height: 200px; /* Limita la altura máxima */
    }

    mat-card-content {
      padding: 1rem;
      background-color: #ffffff;
    }

    .product-info {
      margin-bottom: 0.75rem;

      .product-name {
        font-size: 1.1rem;
        font-weight: bold;
        color: #333;
      }

      .product-desc {
        font-size: 0.875rem;
        color: #757575;
      }
    }

    .price {
      font-size: 1.1rem;
      color: #00796b;

      .offer-price {
        font-weight: bold;
        color: #d32f2f;
      }

      .strike {
        text-decoration: line-through;
        color: #757575;
      }
    }
  }

  mat-dialog-actions {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;

    button {
      min-width: 120px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 0.8rem 1.5rem;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s, box-shadow 0.2s;

      &:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      }
    }
  }
}

/* Estilos para pantallas medianas */
@media (max-width: 768px) {
  .product-list {
    gap: 1rem;
  }

  .product-card {
    /* Aseguramos que las tarjetas no se estiren demasiado en pantallas medianas */
    width: 100%;
    max-width: 300px; /* Limitar el tamaño máximo de las tarjetas */
    margin: 0 auto; /* Centrar las tarjetas */
  }

  .product-card mat-card-image {
    height: 150px; /* Ajustamos la altura de la imagen en pantallas medianas */
    max-height: 150px; /* Limita la altura máxima */
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 480px) {
  .product-list {
    gap: 0.75rem;
  }

  .product-card {
    width: 100%;
    max-width: 230px; /* Limitar el tamaño máximo de las tarjetas */
    margin: 0 auto; /* Centrar las tarjetas */
  }

  .product-card mat-card-image {
    height: 120px; /* Ajustamos la altura de la imagen en pantallas pequeñas */
    max-height: 120px; /* Limita la altura máxima */
  }
}
