
// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html, body { height: 100%; }
:root {
  --bg-color: #f5f5f7;
  --card-bg: #ffffff;
  --text-color: #333;
  --overlay-color: rgba(0,0,0,0.65);
}

.dark-theme {
  --bg-color: #121212;
  --card-bg: #1e1e1e;
  --text-color: #eee;
  --overlay-color: rgba(0,0,0,0.75);
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
