<mat-toolbar
  [color]="showDisabledTable ? 'warn' : 'primary'"
  class="toolbar-header"
>
  <span class="header-title">
    {{
      showDisabledTable
        ? "Restaurantes Deshabilitados"
        : "Restaurantes Habilitados"
    }}
  </span>
  <span class="spacer"></span>

  <button mat-stroked-button class="toggle-btn" (click)="addRestaurant()">
    <mat-icon>add</mat-icon> Agregar
  </button>

  <button mat-flat-button class="toggle-btn" (click)="showRestaurantTable()">
    <mat-icon>{{
      showDisabledTable ? "visibility" : "visibility_off"
    }}</mat-icon>
    {{ showDisabledTable ? "Ver habilitados" : "Ver deshabilitados" }}
  </button>
</mat-toolbar>



<app-restaurant-list
  [restaurants]="restaurants"
  (selectRestaurant)="goToRestaurantDetail($event)"
  (edit)="onEdit($event)"
  (remove)="onRemove($event)"
  (enable)="onEnable($event)"
  (disable)="onDisable($event)"
></app-restaurant-list>
