/* ============================================
   ESTADO VACÍO
============================================ */
.empty-items {
  border: 2px dashed #d1d5db;
  border-radius: 0.75rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
  --text-color: #eee;

  mat-icon {
    font-size: 25px;
    margin-bottom: 0.5rem;
  }

  span {
    display: inline-block;
    margin-top: 0.5rem;
    font-weight: 600;
    --text-color: #eee;
  }

  &:hover {
    background: var(--hover-background);
  }
}

/* ============================================
   TABLA
============================================ */
table.mat-elevation-z1 {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* ============================================
   INPUT CANTIDAD
============================================ */
.input-quantity {
  width: 4rem;
  text-align: center;
}

/* ============================================
   FILA INVISIBLE POS
============================================ */
.add-items-row {
  cursor: pointer;
  user-select: none;
  text-align: center;
  font-weight: 600;
  color: var(--primary-color);
  padding: 0.85rem;
  border-top: 1px dashed #e5e7eb;

  mat-icon {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 0.25rem;
  }

  &:hover {
    background: var(--button-background);
  }

  &:active {
    background: var(--hover-background);
  }
}

/* ============================================
   RESPONSIVE
============================================ */
@media (max-width: 768px) {
  table.mat-elevation-z1 {
    display: block;
    overflow-x: auto;

    th,
    td {
      white-space: nowrap;
    }
  }

  .input-quantity {
    width: 2.8rem;
  }
}
